<mat-card>
    <h1>Student Form</h1>
    <form #studentform="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="standard">
              <mat-label>gradeaverage</mat-label>
              <input matInput 
                [(ngModel)] = "gradeaverage"
                name = "gradeaverage"
                type = "number"
                min = "0"
                max = "100"
                required>
            </mat-form-field>
          </p>
          
          <p>
            <mat-form-field appearance="standard">
              <mat-label>gradepsy</mat-label>
              <input matInput 
                [(ngModel)] = "gradepsy"
                name = "gradepsy"
                type = "number"
                min = "0"
                max = "800"
                required>
            </mat-form-field>
          </p>
          <mat-error><p *ngIf = "isErrorpsy">the grade has to be between 0 and 100</p></mat-error>
          <p>
            <mat-form-field appearance="fill">
                <mat-label>paid</mat-label>
                <mat-select place-holder = "paid" [(ngModel)] = "paid" name = "paid" required>
                    <mat-option value="true">True</mat-option>
                    <mat-option value="false">False</mat-option>
                </mat-select>
                </mat-form-field>
          </p>
          <p>
            <mat-form-field *ngIf = "result" appearance="fill">
                <mat-label [ngClass]="[result=='will no go out' ? 'green' : 'red']">{{result}}</mat-label>
                <mat-select place-holder = "result" [(ngModel)] = "result" name = "result">
                    <mat-option value="will no go out">will no go out</mat-option>
                    <mat-option value="will go out">will go out </mat-option>
                </mat-select>
                </mat-form-field>
          </p>
        <div>
            <button *ngIf = "!rowToSave"  mat-raised-button color="primary" (click) = "predict()" [disabled]="!studentform.form.valid">
              Predict
            </button>
            <button *ngIf = "rowToSave" mat-raised-button color="primary" (click) = "add()">Save</button> 
            <button *ngIf = "rowToSave" mat-raised-button (click) = "cancel()">Cancel</button> 
        </div>
      </div>
    </form>
  </mat-card>
    