<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div *ngIf = "(authService.getUser()|async)">

<div>
    <button mat-raised-button 
    color="primary"
    (click) = "addStudentFormOpen = true">
    Add Student
   </button>   
</div>
<div>
    <studentform *ngIf = "addStudentFormOpen"
      [formType] = "'Add student'"
      (update) = "add($event);addStudentFormOpen = false"
      (closeEdit) = "addStudentFormOpen = false">
    </studentform>
</div>
  <!--table mat-table [dataSource]="students" class="mat-elevation-z8"-->
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
    
      <!-- Name Column -->
<mat-accordion *ngIf = "(authService.getUser()|async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false"
                             *ngFor = "let student of students;let i = index">
    <mat-expansion-panel-header>
        <mat-panel-title>
        {{student.name}}
        </mat-panel-title>
            <mat-panel-description>
              <!--<span  [ngClass]="[student.result=='Will pay' ? 'green' : 'red']">{{student.result}}</span>-->
              </mat-panel-description>
        <button mat-raised-button color="warn" (click)="deleteStudent(student.id)">Delete</button>
             
        </mat-expansion-panel-header>
        <p><b>gradeaverage</b> {{student.gradeaverage}}</p>
        <p><b>gradepsy </b> {{student.gradepsy}}</p>
        <p><b>paid </b> {{student.paid}}</p>
        <p><b>email </b> {{student.email}}</p>
        <button *ngIf = "!student.result" mat-raised-button color="primary" (click)="predict(i)">Predict</button>
        <button *ngIf = "student.result&&!student.saved" mat-raised-button color="primary"(click) = "updateResult(i)">Save</button>
        <button mat-raised-button disabled *ngIf = "student.saved">saved</button> 
          
     
       </mat-expansion-panel>
    </mat-accordion>
    
</div>